[submodule "dwm"]
    path = dwm
    url = git://git.suckless.org/dwm

[submodule "dmenu"]
    path = dmenu
    url = https://git.suckless.org/dmenu

[submodule "slstatus"]
    path = slstatus
    url = https://git.suckless.org/slstatus

